@use "../../utils/styles/variables" as vars;
@use "../../utils/styles/mixins" as mixins;

#formNav {
  min-height: 10dvh;
  background: vars.$colorSecondary;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 0 2em;
  gap: 1em;
}

#formNav button {
  @include mixins.whiteButton;
}
