@use "../../utils/styles/mixins" as mixins;
@use "../../utils/styles/variables" as vars;

#submitToBDDForm {
  border: 1px solid black;
  padding: 2em;
  background: #ffffff;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 50%;
}

#submitToBDDForm h2 {
 width: 100%;
  }

#submitToBDDForm .formInputWrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 0.5em;
  width: 100%;
}

#submitToBDDForm label {
  font-size: 1em;
  font-style: italic;
}

#submitToBDDForm input {
  padding: 0.5em;
  font-size: 1em;
}

#submitToBDDForm textarea {
  padding: 0.5em;
  width: 100%;
  height: 250px;
  font-size: 1em;
}

#submitToBDDForm .formButtonWrapper {
  display: flex;
  flex-flow: row;
  gap: 4em;
}

#submitToBDDForm .checkButton {
  @include mixins.button;
}

#submitToBDDForm .cancelButton {
  @include mixins.crimsonButton;
}

#submitToBDDForm .submitButton {
  background: vars.$buttonGreenGradient !important;
  @include mixins.button;
}
